@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
/*MAYBE THE ABOVE FOR THE HOMEAPAGE */
:root {
  --primary-bg-color: rgb(0, 0, 0);
  --secondary-bg-color: rgb(255, 255, 255);
  --tertiary-bg-color: rgb(112, 110, 110); 
  
  --small-text-color: rgb(151, 146, 146);
  --medium-text-color: #FFF;
  --large-text-color: #FFF;

  --title-color: #FFF;

  --navbar-width: 40px;
  --header-height: 80px; 
  --footer-height: 80px;
  
  /* natural color gradients */
  --white-gradient: linear-gradient(rgb(255, 255, 255), rgb(225, 220, 220));
  --red-gradient: linear-gradient(rgb(255, 0, 0), rgb(191, 25, 25));
  --black-gradient: linear-gradient(rgb(0, 0, 0), rgb(24, 24, 24));
  --green-gradient: linear-gradient(rgb(0, 255, 30), rgb(29, 149, 39));
  --yellow-gradient: linear-gradient(rgb(208, 255, 0), rgb(184, 198, 27));
  --blue-gradient: linear-gradient(rgb(4, 0, 255), rgb(0, 115, 255));

  /* subtle color gradients */
  --rare-steak-image: linear-gradient(to right top, #af0917, #bc161b, #c9201f, #d72924, #e43228);
  --dusk-sky-image: linear-gradient(to right bottom, #0963af, #0860a9, #075ca4, #06599e, #055699);
  --new-sky-image: linear-gradient(to right bottom, #ffffff, #fcfafc, #f9f6f8, #f8f1f3, #f6ecec);
  --old-campfire-image: linear-gradient(to right bottom, #777777, #706d71, #6b6368, #67595d, #635050);

  --standard-font: #FFF;
  --secondary-font: #FFF;
  --board-card-margin: #FFF;
  --board-grid-margin: #FFF;
  --board-grid-patting: #FFF;

  --primary-icon-color: #FFF;
  --secondary-icon-color: #FFF;
  --tertiary-icon-color: #FFF;

  --online-color: rgb(0, 255, 115);
  --offline-color: rgb(255, 12, 12);
  --hover-over-color: rgb(198, 26, 26);

}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.page-wrapper {
  position: absolute;
  width: 100vw;
  height: 100vh;
}


.white-text {color: #fff; }
.text-shadow {text-shadow: 1px 0px 3px #5f6368;}
.flex { display: flex; }
.baseline { align-items: baseline; }
.tiny-text { font-size: 12px !important; }
.medium-text { font-size: 14px; }
.flow-row { flex-flow:  row; }
.flow-col { flex-flow:  column; }
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.flex-start {
  justify-content: flex-start;
}
.center {
  justify-content: center;
  align-items: center;
}
.primary-text {
  color: #fff !important;
}

.justify-center {
  justify-content: center;
}

.align-center { align-items: center; }

.medium-font {
  font-size: 14px !important;
}

.r-10-pad {
  padding-right: 10px;
}

.width-full {
  width: 100%;
}

.r-margin-35 {
  margin-right: 35px;
}

.dash-inner-wrapper {
  height: 100%;
  width: 100%;
}

.full-wh {
  width: 100%;
  height: 100%;
}

.child-padding form > input {
  margin: 0px 20px;
}



/*---------------------------------------------*/
/* Dashboard Card                              */
/*---------------------------------------------*/

.dashboard-card {
  height: 120px;
  /*width: 275px;*/
  background: var(--Primary-Dashboard-Background);
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
  border-radius: 10px;
  position: relative;
  color: #888888;
  flex: 0 0 30.333333%;
  margin: 10px;
}

.dashboard-card-inner {
  height: 110px;
  width: auto;
  margin: 10px 20px 0px 20px;
  display: flex;
  flex-flow: column;
}


.dashboard-card-top {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}
.dashboard-card-title {
  color: #888;
  font-size: 14px;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.dashboard-card-number {
  font-weight: bolder;
  font-size: 24px;
  color: #fff;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
}

.dashboard-card-bottom {
  height: 30px;
  width: 100%;
  border-top: 2px solid #343434;
  display: flex;
  flex-flow: row;
  align-items: center;
  font-size: 12px;
}

.dashboard-card-percentage {
  font-weight: bold;
  font-size: 14px;
  color: #50c878;
  margin-right: 3px;
}


.dashboard-card-icon-box {
  height: 64px;
  width: 64px;
  position: absolute;
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
  border-radius: 10px;
  left: 15px;
  top: -15px;
}

.icon-bg-blue {
  background: linear-gradient(195deg, rgb(73, 163, 241), rgb(26, 115, 232)) !important;
}

.icon-bg-pink {
  background: linear-gradient(195deg, rgb(236, 64, 122), rgb(216, 27, 96)) !important;
}

.icon-bg-green {
  background: linear-gradient(195deg, rgb(102, 187, 106), rgb(67, 160, 71)) !important;
}

.icon-bg-orange {
    background: linear-gradient(195deg, rgb(255, 148, 48) 11.2%, rgb(255, 124, 0) 100.2%) !important;
}

.icon-bg-black {
  background: linear-gradient(195deg, rgb(66, 69, 74), rgb(27, 27, 27)) !important;
}

.dash-first-row {
  height: auto;
  margin: 50px ;
  width: 100%;

  display: flex;
  flex-flow: row;
}

.dash-first-row > div {
  margin: 0px 20px;
}

.card-footer {
  height: 25px;
  width: 100%;
  display: flex;
}




/*--------------------------------------------------------------*/
/* Grid Horizontal Box Code BElow                               */
/*--------------------------------------------------------------*/
.dashboard-horizontal-box {
  width: 100%;
  height: 100%;
  background: var(--Primary-Dashboard-Background);
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
  border-radius: 10px;
  position: relative;
  color: #888888;
}

.dashboard-horizontal-box-title {
  margin: 5px 5px 0px 10px;
  height: 40px;
  display: flex;
  justify-content: space-between;

}

.dashboard-horizontal-box-title-text {
  display: flex;
  align-items: center;
  font-size: 20px;
  color: #fff;
}

.dashboard-horizontal-box-title-icon {
  display: flex;
  justify-content: center;
  padding: 7px 5px 0px 0px;
  /*align-items: center;*/

  height: 100%;
  width: auto;
} 

.dashboard-horizontal-box-line {
  height: 2px;
  margin: 0px 10px 0px 10px;
  border-bottom: 2px solid #343434;
}

.dashboard-horizontal-box-content {
  flex: 1 0;
  display: flex;
  padding: 5px 10px 5px 10px;
  margin: 0px 0px;
  height: auto;
  position: relative;
}

.dashboard-horizontal-box-content form {
  /*justify-content: space-around;*/
  display: flex;
  flex-flow: column;
  row-gap: 5px;
  margin-top: 10px;
}


.form-icons-wrapper {
  display: flex;
  flex-wrap: wrap;
  height: auto;
  margin: 0px 0px;
  justify-content: space-around;
  row-gap: 15px;
  margin-bottom: 10px;
}

.form-icon {
  height: 50px;
  width: 50px;
  border-radius: 10px;
  margin: 0px 25px 00px 25px;
  cursor: pointer;
  box-shadow: rgb(0 0 0) 0px 0px 4px 1px;
}

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
.activity-submit{

  height: 30px;
  margin: auto 0;
  border-radius: 10px;
  color: #fff;
  font-size: 16px;
  /*border: 1.5px solid #ec5800;*/
  font-family: 'Fredoka One', cursive;
  cursor: pointer;



}

.activity-input {
  color: #fff;
  height: 30px;
  border: 1.5px solid #888;
  background: #343434;
  padding: 0px 0px 0px 5px;
  border-radius: 5px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  margin-bottom: 5px;
}

.notes-wrapper {
  height: auto;
}

.notes-wrapper p{
  text-align: right;
  font-size: 13px;
  padding-top: 2px;
}

.notes {
  min-height: 60px !important;
  padding: 5px 5px 2px 5px;
  position: relative;
  margin-bottom: 0px;
}

.form-row-title {
  justify-content: space-between;

}

.amount-units-wrapper {
  justify-content: space-between;
}

.amount-units-wrapper input {
 min-width: 75px;
 margin-right: 10px;
 text-align: right;
 padding: 0px 5px 0px 0px;
}
.amount-units-wrapper input {
  width: 50px;
 }
 

.amount-units-wrapper input::-webkit-inner-spin-button {
  display: none;
}

.form-row-title { 
  display: flex;
  align-items: center;
  color: #888;
  font-size: 16px;
  
 }

.activity-input:focus {
  outline: none;
}

.activity-input::-webkit-input-placeholder { /* Edge */
  color: #fff;
}

.activity-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #fff;
}

.activity-input::placeholder {
  color: #fff;
}
/*
.dashboard-horizontal-box-content form input{
  border: none;
  background: #888;
  color: #fff;
  height: 30px;
  border-radius: 10px;

}*/

.dashboard-horizontal-box-content-scroll {
  flex: 1 0;
  display: flex;
  padding: 5px 11px 5px 30px;
  margin: 0px 0px;
  height: auto;
  position: relative;
  overflow-y: scroll;
  z-index: 9;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


/* Hide scrollbar for Chrome, Safari and Opera */
.dashboard-horizontal-box-content-scroll::-webkit-scrollbar {
  display: none;
}

.dashboard-horizontal-box-bottom {
  height: 80px;
  width: 100%;
  display: flex;
}

.dashboard-horizontal-box-item {
  margin: 12.5px 0px 12.5px 0px;
  position: relative;
  height: auto;
  width: 100%;
  border: 1.5px solid #888;
  padding: 1px 0px;

  background: #343434;
  border-radius: 5px 5px 25px 5px;
}

.dashboard-horizontal-box-item-icon {
  position: absolute;
  height: 40px;
  width: 40px;
  color: #ffffff;
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
  border-radius: 10px;
  left: -15px;
  top: -8px;
  z-index: 999;
}

.dashboard-horizontal-box-item-content-top {
  display: flex;
  margin: 0px 11px 0px 35px;
  height: auto;
  align-items: center;
  flex-flow: row;

}

.dashboard-horizontal-box-item-content-rest {
  display: flex;
  flex: 0 1;
  justify-content: space-between;
  flex-flow: column;
  margin-top: 15px; /**Might need to be 20*/
  padding: 0px 10px 5px 10px;
  margin-bottom: 17px;
  position: relative;
}

.dashboard-horizontal-box-item-content-icon-box {
  position: absolute;
  bottom: -9px;
  right: 0px;
  display: flex;
  height: auto;
  flex-flow: row;
  justify-content: space-between;
  margin: 0px 10px 0px 8px;
}

.dashboard-horizontal-box-element {
  height: auto;
  width: 100%;

  display: flex;
  align-items: center;
  padding: 0px 0px 5px 0px;
  flex-flow: row;

  font-size: 14px;
}

.dashboard-horizontal-box-element-title {
  font-weight: bold;
  margin-right: 7px;
  color: #fff;
  display: flex;
}

.fill-available {
  width: -moz-available;          /* WebKit-based browsers will ignore this. */
  width: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  width: fill-available;
}

.dashboard-horizontal-box-element-content {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.dashboard-horizontal-box-element-notes {
  overflow: hidden;
  margin-bottom: 12.5px;

}


.dashboard-horizontal-box-item-left {
  display: flex;
  flex-flow: row;
  flex: 1 0;
  justify-content: space-around;
  flex: 10;
  justify-content: space-between; 
  font-size: 12.5px;
  color: #fff;
}
.dashboard-horizontal-box-item-right {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 100%;
  
}
.dashboard-horizontal-box-item-right:hover {
  color: #ec5800;
}

.dashboard-horizontal-box-item-icon:hover {
  cursor: pointer;
  

}

.dashboard-horizontal-box-item-accent {
  font-size: 12px;
  font-weight: bold;
  width: 45px;
  position: absolute;
  top:0; right: 240px; 
}

.dashboard-horizontal-add-activity {
  height: 40px;
  width: 90%;
  border-radius: 10px;
  border: 2.5px dashed #888;
  cursor: pointer;
  position: relative;
}

.dashboard-horizontal-add-activity:hover {
  color: #ec5800;
  border: 2.5px dashed #ec5800;
  cursor: pointer;
}

.dashboard-horizontal-add-activity button{
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  cursor: pointer;
}

/*---------------------------------------------------------------*/
/* Finished Grid Horizontal COde                                */
/*-------------------------------------------------------------*/

/*--------------------------------------------------------------*/
/* Grid Layout 1 Code BElow                                     */
/*--------------------------------------------------------------*/
.dashboard-layout-1 {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr repeat(2, 1fr);
  grid-template-rows: repeat(1, 2fr) repeat(4, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}
  
  .dashboard-layout-1-first { 
    grid-area: 1 / 1 / 3 / 4;
    margin: 35px 15px 15px 15px;
    align-items: flex-start;
    justify-content: space-around; 
    display: flex;
    flex-wrap: wrap;
  }
  .dashboard-layout-1-second { 
    grid-area: 1 / 4 / 6 / 6;
    margin: 35px 35px 35px 15px;
  }
  .dashboard-layout-1-third { 
    grid-area: 3 / 1 / 6 / 4; 
    justify-content: space-around; 
    margin: 15px 15px 35px 15px;
    align-items: flex-end;
  }
/*---------------------------------------------------------------*/
/* Grid Layout 1 Code Finished                                  */
/*-------------------------------------------------------------*/


/*--------------------------------------------------------------*/
/* Dashboard Graph Container                                    */
/*--------------------------------------------------------------*/

.dashboard-graph-container {
  height: 100%;
  /*width: 450px;*/
  background: var(--Primary-Dashboard-Background);
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
  border-radius: 10px;
  position: relative;
  color: #888888;
  flex: 0 0 47%;
  display: flex;
  flex-flow: column;
  /*margin: 5px 5px 0px 5px;*/
  padding: 180px 0px 0px 0px;
  
}

.dashboard-container-model {
  height: 200px;
  width: 94%;
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
  border-radius: 10px;
  position: absolute;
  color: #888888;
  top: -20px;
  transform: translateX(3%);
}

.dashboard-graph-container-title-box {
  width: 100%;
  height: 70%;
  display: flex;
  flex-flow: column;
  margin: 10px 0px 0px 15px;
}

.dashboard-graph-container-title {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
}


.dashboard-graph-container-subtitle {
  color: #888;
  font-size: 14px;
  display: flex;
  flex-flow: row;
}

.dashboard-graph-container-bottom {
  height: 40%;
  display: flex;
  margin: 0px 15px;
  border-top: 2px solid #343434;
  align-items: center;
  font-size: 12px;
}

.percentage {
  font-weight: bold;
  font-size: 14px;
  color: #50c878;
}
/*---------------------------------------------------------------*/
/* Dashboard Graph Container                                    */
/*-------------------------------------------------------------*/

/*--------------------------------------------------------------*/
/* Activity Grid Container                                      */
/*--------------------------------------------------------------*/

.groop-grid {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 35px;
  grid-row-gap: 35px;
  margin: 35px 35px 35px 35px;

  height: auto;
  width: 100%;
}

/*
.groop-grid-b1  { grid-area: 1 / 1 / 3 / 6; }
.groop-grid-b2  { grid-area: 1 / 6 / 5 / 9; }
.groop-grid-b3  { grid-area: 3 / 1 / 7 / 3; }
.groop-grid-b4  { grid-area: 3 / 3 / 7 / 6; }
.groop-grid-b5  { grid-area: 5 / 6 / 7 / 9; }
*/
.groop-grid-b1 { grid-area: 1 / 1 / 3 / 3; }
.groop-grid-b2 { 
  grid-area: 1 / 3 / 3 / 6; 
  display: flex;
  justify-content: row;
  gap: 35px;
}
.groop-grid-b3 { grid-area: 1 / 6 / 5 / 9; }
.groop-grid-b4 { grid-area: 3 / 1 / 7 / 3; }
.groop-grid-b5 { grid-area: 3 / 3 / 7 / 6; }
.groop-grid-b6 { grid-area: 5 / 6 / 7 / 9; }
/*
.groop-grid-b1  { grid-area: 1 / 1 / 3 / 4; }
.groop-grid-b2  { grid-area: 1 / 4 / 3 / 6; }
.groop-grid-b3  { grid-area: 1 / 6 / 5 / 9; }
.groop-grid-b4  { grid-area: 3 / 1 / 5 / 4; }
.groop-grid-b5  { grid-area: 3 / 4 / 5 / 6; }
.groop-grid-b6  { grid-area: 5 / 1 / 7 / 3; }
.groop-grid-b7  { grid-area: 5 / 3 / 7 / 7; }
.groop-grid-b8  { grid-area: 5 / 7 / 7 / 9; }
 */ 
/*
  .groop-grid-b1 { grid-area: 1 / 1 / 3 / 6; }
  .groop-grid-b2 { grid-area: 1 / 6 / 5 / 9; }
  .groop-grid-b3 { grid-area: 3 / 1 / 7 / 3; }
  .groop-grid-b4 { grid-area: 3 / 3 / 5 / 6; }
  .groop-grid-b5 { grid-area: 5 / 3 / 7 / 6; }
  .groop-grid-b6 { grid-area: 5 / 6 / 7 / 9; }
*/
/* 
    .groop-grid-b1 { grid-area: 1 / 1 / 3 / 7; }
    .groop-grid-b2 { grid-area: 1 / 7 / 3 / 9; }
    .groop-grid-b3 { grid-area: 3 / 1 / 7 / 3; }
    .groop-grid-b4 { grid-area: 3 / 3 / 5 / 6; }
    .groop-grid-b5 { grid-area: 3 / 6 / 5 / 9; }
    .groop-grid-b6 { grid-area: 5 / 3 / 7 / 7; }
    .groop-grid-b7 { grid-area: 5 / 7 / 7 / 9; }
*/
/*---------------------------------------------------------------*/
/* Dashboard Graph Container                                    */
/*-------------------------------------------------------------*/


.groopfit-container {
  height: 100%;
  width: 100%;
  background: var(--Primary-Dashboard-Background);
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
  border-radius: 10px;
  position: relative;
  color: #888888;
  display: flex;
  flex-flow: column;
  padding: 15px 15px 5px 15px;
  overflow: hidden;
}

.groopfit-container-header {
  height: auto;
  width: 100%;
  display: flex;
  margin-bottom: 6px;
}

.groopfit-container-content {
  width: 100%;
  display: flex;
  flex: 1 0;
}



.groopfit-container-footer {

}

.groopfit-container-footer-small {
  width: calc(100% + 30px);
  height: 30px;
  display: flex;
  background-color: #191919;
  transform: translate(-15px, 5px);
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
}

.groopfit-container-title {
  font-size: 20px;
  color: #fff;
}

.graph-slider-container {
  position: absolute;
  height: calc(100% + 40px);
  transform: translateY(-20px);
  width: 42%;
  left: 0px;
  background-color: #ec5800;
  border-radius: 10px;
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
} 
/* Hide scrollbar for Chrome, Safari and Opera */
.groopfit-container-scroll::-webkit-scrollbar { display: none; }
.groopfit-container-scroll {
  flex: 1 0;
  display: flex;
  padding: 15px 0px;
  margin: 0px 0px;
  height: auto;
  position: relative;
  overflow-y: scroll;
  z-index: 9;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */  
  gap: 20px;
}


.groopfit-container-triangle {
  width: 20px;
  height: 20px;
  border: 60px solid transparent;
  border-top: 0;
  border-bottom: 60px solid #50c878;
  /* border-radius: 65px; */
  position: absolute;
  bottom: 0px;
  right: -60px;
  display: flex;
  /* transform: rotate(90deg);*/
  cursor: pointer;
}

.groopfit-container-triangle-inner {
  min-height: 35px;
  min-width: 35px;
  transform: translate(-36px, 24px);
  display: flex;
  justify-content: center;
  align-items: center;
}



/*--------------------------------------------------------------*/
/* Leader Board Header                                          */
/*--------------------------------------------------------------*/

.leaderboard-header {
  display: flex;
  width: 100%;
  height: auto;
  padding: 0px 0px 15px 0px;
  justify-content: space-between;
}

.leaderboard-header-l {
  width: auto;
  height: 100%;
  display: flex;
  flex-flow: column;
}

.leaderboard-l-box{
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}

.leaderboard-title {
  font-size: 20px;
  color: #fff;

}


.leaderboard-picker{
  height: auto;
  width: 70px;
  display: flex;
  margin: 5px 7.5px 0px 0px;
  font-size: 12px;
  justify-content: center;
  align-items: center;
  box-shadow: rgb(0 0 0) 0px 0px 4px 1px;
  background: var(--Primary-Dashboard-Background);
  border-radius: 4px;
  cursor: pointer;
}


.leaderboard-header-r {
  width: auto;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-activity-icon {
    height: 60px;
    width: 60px;
    box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
    border-radius: 10px;
}

.leaderboard-content {
  display: flex;
  flex: 1 0;
  width: 100%;
  
}

.leaderboard-footer {
  width: 100%;
  height: auto;
  display: flex;
  padding: 10px 20% 2px 20%;
}

.leaderboard-footer-content {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.leaderboard-footer-mid-content img {
  height: 30px;
  /*border-radius: 50%;*/
  border-radius: 5px;
}

.leaderboard-footer-mid-content {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}

.leaderboard-footer-content-box {
  display: flex;
  flex-flow: column;
  height: 100%;
  overflow: hidden;
  font-size: 14px;
  justify-content: center;
  align-items: center;
}


/* Hide scrollbar for Chrome, Safari and Opera */
.leaderboard-scroll::-webkit-scrollbar {
  display: none;
}

.leaderboard-scroll {
  flex: 1 0;
  display: flex;
  padding: 15px 0px;
  margin: 0px 0px;
  height: auto;
  position: relative;
  overflow-y: scroll;
  z-index: 9;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */  
  gap: 20px;
}

.leaderboard-element {
  display: flex;
  margin: 0px 10px 0px 10px;
  position: relative;
  min-height: 45px;
  /*border: 1.5px solid #888;*/
  padding: 1px 0px;
  background: transparent;
  border-radius: 5px 5px 5px 5px;
  flex-flow: row;
  justify-content: space-between;

}


.leaderboard-element-box {
  display: flex;
  height: 100%;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 0px 6px;
  font-size: 16px;
  position: relative;
}

.leadboard-old-place {
  font-size: 12px;
}

.leaderboard-element-box img  {
  height: 40px;
  padding: 3px;
  margin: 0px 2px;
  border-radius: 10px;
  border: 1.5px solid #888;
  background-color: transparent !important;
} 

.leaderboard-element-box-cirle {
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: var(--Primary-Dashboard-Background);
  bottom: 0px;
  right: -5px;
}

.leaderboard-element-box-cirle-inner {
  height: 15px;
  width: 15px;
  color: var(--Primary-Dashboard-Background);
  border-radius: 50%;
  font-size: 11px;
  font-weight: bold;
  
}

.gold {
  font-weight: bold;
  color: #e0c56e;
}

.silver {
  font-weight: bold;
  color: #C0C0C0;

}

.bronze {
  font-weight: bold;
  color: #CD7F32;

}

.leaderboard-bg-gold {
  background-color: #e0c56e;
}

.leaderboard-border-gold {
  border: 1.5px solid #e0c56e !important;
}

.leaderboard-bg-silver {
  background-color: #C0C0C0;
}

.leaderboard-border-silver {
  border: 1.5px solid #C0C0C0 !important;
}

.leaderboard-bg-bronze {
  background-color: #CD7F32;
}

.leaderboard-border-bronze {
  border: 1.5px solid #CD7F32 !important;
}

.leaderboard-element-first {
  display: flex;
  height: 100%;
  width: auto;
}

.leaderboard-element-second {
  display: flex;
  height: 100%;
  width: auto;
  margin-right: 10px;
}

.box-45 {
  width: 45px;
}

.groop-dash-title-box {
  color: #fff;
  font-size: 24px;
  display: flex;

}

.groop-dash-title {
  color: #fff;
  font-size: 22px;
  display: flex;
  margin: 0px 20px;
  flex-flow: column;
}

.groop-dash-title-line {
  height: 2px;
  margin: 0px 40% 0px 0px;
  border-bottom: 2px solid #fff;
}

.grop-dash-text-wrap {
  flex: 1 0;
  width: 100%;
  display: flex;
  flex-flow: column;
}

.groop-dash-text {
  margin-top: 10px;
  color: #888;
  margin-left: 10px;
  font-size: 14px;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.groop-dash-logo-box {
  min-height: 45px;
  min-width: 45px;
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
  border-radius: 10px;
  background-color: var(--Primary-Dashboard-Background);
}
/*---------------------------------------------------------------*/
/* End of Leader Board Header                                   */
/*-------------------------------------------------------------*/


/*--------------------------------------------------------------*/
/* Groop Member Card CSS Below                                  */
/*--------------------------------------------------------------*/

.groop-member-element {
  display: flex;
  margin: 0px 10px 0px 10px;
  position: relative;
  min-height: 55px;
  /*border: 1.5px solid #888;*/
  padding: 1px 0px;
  background: transparent;
  border-radius: 5px 5px 5px 5px;
  flex-flow: row;
  justify-content: space-between;


}

.groop-member-element-box {
  display: flex;
  height: 100%;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 0px 6px;
  font-size: 16px;
  position: relative;
}

.groop-member-col-element {
  display: flex;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: normal;
  align-items: center;
  margin: 7.5px 0px 7.5px 12px;
  font-size: 16px;
  position: relative;
  flex-flow: column;
}

.groop-member-col-box {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  position: relative;
}

.groop-member-element-title {
  font-size: 14px;
}

.groop-member-element-subtitle {
  font-size: 12px;
}


.groop-member-picture {
  display: flex;
  height: 100%;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 0px 0px;
  font-size: 16px;
  position: relative;
}

.groop-member-picture img  {
  height: 40px;
  padding: 3px;
  margin: 0px 0px;
  border-radius: 10px;
  background-color: transparent !important;
} 


.groop-member-status {
  height: 20px;
  width: 50px;
  border-radius: 5px;

  font-size: 12px;
  font-weight: bold;
  box-shadow: rgb(0 0 0) 0px 0px 2px 1px;
}

.online-status {
  color: #fff;
  background-color: #50c878;
}

.online-status::after {
  content: 'online';
}

.offline-status {
  background-color: #888;
  color: var(--Primary-Dashboard-Background);
}

.offline-status::after {
  content: 'offline';
}


/*---------------------------------------------------------------*/
/* End of Groop Member Card CSS                                 */
/*-------------------------------------------------------------*/



/*--------------------------------------------------------------*/
/* Groop Recent Activity Card CSS Below                         */
/*--------------------------------------------------------------*/
.groop-ra-element {
  display: flex;
  margin: 0px 10px 0px 10px;
  position: relative;
  min-height: 55px;
  /*border: 1.5px solid #888;*/
  padding: 1px 0px;
  background: transparent;
  border-radius: 5px 5px 5px 5px;
  flex-flow: row;
  justify-content: space-between;
}

.groop-ra-element-box {
  display: flex;
  height: 100%;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 0px 6px;
  font-size: 16px;
  position: relative;
}

.groop-ra-element-box-first {
  display: flex;
  height: 100%;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 0px 6px;
  font-size: 16px;
  position: relative;
}

.groop-ra-element-box-first img  {
  height: 40px;
  padding: 3px;
  margin: 0px 0px;
  border-radius: 50%;
  border: 2px solid #888;
  background-color: transparent !important;
  position: relative;
} 

.groop-ra-element-box-first-line {
  border-left: 2.5px solid #888;
  height: 37px;
  position: absolute;
  left: 50%;
  margin-left: -1px;
  bottom: -30px;
  left: 20px;
}

.groop-ra-col-element {
  display: flex;
  height: 100%;
  width: -moz-fit-content;
  width: fit-content;
  justify-content: center;
  align-items: center;
  margin: 7.5px 0px 7.5px 12px;
  font-size: 16px;
  position: relative;
  flex-flow: column;
}

.groop-ra-col-box {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
  font-size: 14px;
  position: relative;
}

.groop-ra-element-title {
  font-size: 14px;
}

.groop-ra-element-subtitle {
  font-size: 12px;
}

/*---------------------------------------------------------------*/
/* Groop Recent Activity Card CSS                               */
/*-------------------------------------------------------------*/

/*--------------------------------------------------------------*/
/* Overview Page CSS Below                                      */
/*--------------------------------------------------------------*/

.overview-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(9, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  margin: 35px 35px 35px 35px;

  height: auto;
  width: 100%;
}

/*
.overview-grid-b1 { grid-area: 1 / 1 / 2 / 5; }
.overview-grid-b2 { grid-area: 1 / 5 / 7 / 7; }
.overview-grid-b3 { 
  grid-area: 2 / 1 / 5 / 5; 
  display: flex;
  gap: 35px;
  flex-flow: row;
}
.overview-grid-b4 { grid-area: 5 / 1 / 7 / 5; }
*/

.overview-grid-b1  { grid-area: 1 / 5 / 10 / 7; }
.overview-grid-b2  { grid-area: 1 / 1 / 2 / 5; }
.overview-grid-b3  { grid-area: 2 / 1 / 6 / 3; }
.overview-grid-b4  { 
  grid-area: 2 / 3 / 6 / 5; 
  display: flex;
  gap: 15px;
  flex-flow: row;
  flex-wrap: wrap;
}

.overview-grid-b5  { grid-area: 6 / 1 / 10 / 5; }
/*
.overview-grid-b1 { grid-area: 1 / 1 / 2 / 7; }
.overview-grid-b2 { grid-area: 1 / 7 / 7 / 9; }
.overview-grid-b3 { grid-area: 2 / 1 / 5 / 4; }
.overview-grid-b4 { 
  grid-area: 2 / 4 / 5 / 7;
  display: flex;
  gap: 35px;
  flex-flow: row;
 }
.overview-grid-b5 { grid-area: 5 / 1 / 7 / 7; }


/*
.overview-grid-b1 { grid-area: 1 / 1 / 2 / 5; }
.overview-grid-b2 { grid-area: 1 / 5 / 7 / 7; }
.overview-grid-b3 { grid-area: 2 / 1 / 3 / 5; }
.overview-grid-b4 { grid-area: 3 / 1 / 5 / 5; }
.overview-grid-b5 { grid-area: 5 / 1 / 7 / 5; }
*/
.card-gap {
  gap: 35px;
}

.fb-50 {
 flex-basis: 50%;
 flex-grow: 0;
 flex-shrink: 0;
}

/*---------------------------------------------------------------*/
/* Overview Page CSS                                            */
/*-------------------------------------------------------------*/



/*===================================================================*/
/* EVERY PAGE THINGS */
.show-big-screen { display: initial; }
.show-med-screen { display: none; }
.padding-top-none { padding-top: 0px !important; }

.height-300 { min-height: 300px; }

.dashboard-container-half-height { 
  min-height: 50%; 
  max-height: 50%; 
}
.dashboard-container-one-third-height { 
  min-height: 33.3333%;
  max-height: 33.3333%;  
}
.dashboard-container-two-third-height { 
  min-height: 66.6667%;
  max-height: 66.6667%;  
}
.dashboard-half-container {
  flex-basis: 50%;
  flex-grow: 0;
  max-width: 50%;
}

.dashboard-one-third-container {
  flex-basis: 33.3333%;
  flex-grow: 0;
  max-width: 33.3333%;
}

.dashboard-two-third-container {
  flex-basis: 66.6667%;
  flex-grow: 0;
  max-width: 66.6667%;
}

.dashboard-full-container {
  flex-basis: 100%;
  flex-grow: 0;
  max-width: 100%;
}


/*===================================================================*/
.dashboard-page-scroll-wrapper {
  flex-grow: 1;
    width: 100%;
    padding: 1.5rem;
    transition: padding 0.25s ease-in-out 0s;
    margin-left: auto;
    margin-right: auto;
    overflow-y: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
  }
  
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .dashboard-page-scroll-wrapper::-webkit-scrollbar {
    display: none;
  }

.dashboard-full-container {
  flex-basis: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 100%;
}
.dashboard-half-container {
  flex-basis: 50%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 50%;
}

.overview-container-5  {
  height: 300px;
}

.overview-container-6  {
  height: 300px;
}

.dashboard-two-third-container {
  flex-basis: 66.6667%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 66.6667%;
}

.dashboard-one-third-container {
  flex-basis: 33.3333%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 33.3333%;
}

.dashboard-container {
  padding-left: 1.5rem;
  padding-top: 1.5rem;
}

.new-dashboard-card {
  height: calc(100% - 1.5rem);
  max-width: calc(100% - 1.5rem);
  flex-basis: 100%;
  background: var(--Primary-Dashboard-Background);
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
  border-radius: 10px;
  position: relative;
  color: #888888;
  /*flex: 0 0 30.333333%;*/
  margin: 10px;
}

.new-blank-card {
  height: calc(100% - 1.5rem);
  flex-basis: 100%;
  background: transparent;
  border-radius: 10px;
  position: relative;
  color: #888888;
  /*flex: 0 0 30.333333%;*/
  margin: 10px;
}

.new-dash-card-full {
  height: 100%;
  flex-basis: 100%;
  background: transparent;
  border-radius: 10px;
  position: relative;
  color: #888888;
  background: var(--Primary-Dashboard-Background);
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
  /*flex: 0 0 30.333333%;*/
  margin: 0px;
}


/*aspect-ratio: 1 / 1;*/
.square {
  /*height: 100%;*/
  min-width: 300px;
  flex-basis: 100%;
  background: var(--Primary-Dashboard-Background);
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
  border-radius: 10px;
  position: relative;
  color: #888888;
  /*flex: 0 0 30.333333%;*/
  margin: 10px;

  min-height: calc(100% - 3rem);
  height: -webkit-fill-available;
  margin-top: 1.5rem;

}

.margin-top-none{
  margin-top: 0px !important;
}

.overview-user-info-dashboard-card {
  height: 900px;
  padding: 10px;
}

.overview-user-info-card-header {
  display: flex;
  flex-flow: column;
  height: auto;
  width: 100%;
  align-items: center;
  margin-top: 20px;
}

.overview-user-info-card-header img {
  height: 75px;
  width: 75px;
  border-radius: 10px;
  background: var(--Primary-Dashboard-Background);
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
  margin-bottom: 10px;
}

.overview-user-info-card-header-text {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.overview-user-info-card-header-text p {
  font-size: 14px;
}

.overview-user-info-card-header-text b {
  color: #fff;
}


.overview-welcome-container {
  flex-basis: 66.6667%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 66.6667%;
}

.overview-user-info-container {
  flex-basis: 33.3333%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 33.3333%;
}

.overview-container-3 {
  flex-basis: 100%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 100%;
  min-height: 50%;
}
.overview-container-4 {
  display: none;
}

.overview-container-2 {
  flex-basis: 50%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 50%;
  min-height: 50%;
}

.align-items-end {
  align-items: end;
}

.overview-welcome-greeting {
  font-size: 24px;
  color: #fff;
} 

.overview-date {
  height: 30px;
  width: auto;
  padding: 25px 20px;
  box-shadow: inset rgb(0 0 0) 0px 0px 8px 1px;
  display: flex;
  margin: auto 0;
  color: #fff;
  border-radius: 4px;
}

.overview-date p {
  padding-right: 10px;
}

.overview-welcome-box {
  max-height: 75px;
  min-height: 75px;
  height: 75px !important;
  display: flex;
  justify-content: space-between;
}

.dashboard-flex-grid-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-top: -1.5rem;
  width: calc(100% + 1.5rem);
  margin-left: -1.5rem;
}

.flex-fill { flex: 1; }

.overview-wrapper-1 {
  box-sizing: border-box;
    display: flex;
    flex-flow: row wrap;
    /*min-height: calc(100% - 3rem);*/
    margin-left: -1.5rem;
    flex: 1;
}


.two-by-two {
  display: flex;
  flex-flow: row wrap;
  row-gap: 25px;
  column-gap: 25px;
}

.two-by-two-chart {
  max-height: 100px;
  max-width: 200px;
  position: absolute;
  bottom: 5px;
  right: 15px;
}

.two-by-two-icon-box {
  background: var(--Primary-Dashboard-Background);
  box-shadow: inset rgb(0 0 0) 0px 0px 4px 1px;
  height: 50px;
  width: 50px;
  position: absolute;
  top: 16px;
  left: 16px;
  border-radius: 10px;
}

.two-by-two-info {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0px;
  left: 18px;
  display: flex;
  justify-content: end;
  align-items: initial;
  flex-flow: column;
  margin-bottom: 15px;

  font-family: Montserrat, Arial, sans-serif;
}

.two-by-two-info-num, 
.two-by-two-info-units {
  font-size: 20px;
  color: #fff;
  font-weight: bold;
  height: 22px;
  text-shadow: 1px 0px 3px #5f6368;
}

.two-by-two-e {
  flex: 1 1 calc(50% - 25px);
  /*width: 50%;*/
  max-height: calc(50%);
  position: relative;
}

.two-by-two-e button {
  position: absolute;
  bottom: 10px;
  height: 35px;
  width: 85%;
  display: flex;
  color: #fff;
  /*
  background-color: #5961F9;
  */
  background-color: var(--Primary-Dashboard-Background);
  font-size: 16px;
  font-family: Montserrat, Arial, sans-serif;
  border: none;
  /*box-shadow: rgb(0 0 0) 0px 0px 8px 1px;*/
  border-radius: 10px;
  cursor: pointer;

}

.two-by-two-title-box {
  position: absolute;
  height: auto;
  width: 100%;
  top: 0px;
  margin-top: 18px;
  padding-left: 75px;
}

.two-by-two-title {
  font-size: 16px;
}

.two-by-two-subtitle{
  font-size: 14px;
}

.overview-user-info-stats-wrapper {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  margin-top: 25px;
}



.overview-user-info-stats-container {
  height: auto;
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.overview-user-info-stats-title ,
.overview-user-info-section-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 7.5px;
  color: #fff !important;
  font-size: 16px;
}

.overview-user-info-stats-box {
    height: 35px;
    width: 115px;
    background: var(--Primary-Dashboard-Background);
    /*background: linear-gradient(195deg, rgb(255, 148, 48) 11.2%, rgb(255, 124, 0) 100.2%) !important;*/
    box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
    border-radius: 10px;
    color: #fff !important;
    margin-bottom: 40px;
}

.overview-user-info-section {
  display: flex;
  height: 100%;
  width: 100%;
  flex-flow: column;
  margin: 0px 20px 10px 20px;
}

.overview-user-info-section-title {
  justify-content: flex-start;
}

.overview-user-info-section-content {
  width: 100%;
  flex: 1;
  display: flex;
}

.overview-time-breakdown-card {
  display: flex;
  flex-flow: column;
  width: calc(100% - 1.5rem);
  padding: 5px 20px;
}

.overview-time-breakdown-card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 100%;
  font-size: 22px;
}

.overview-time-breakdown-card-mid {
  display: flex;
  width: 100%;
  height: 100%;
  position: relative;
  justify-content: flex-start;
  align-items: baseline;
}

.overview-time-breakdown-card-mid-content {
  display: flex;
  flex-flow: column;
  position: absolute;
  left: 0px;
  bottom: 0px;
  margin-bottom: 0px;

}

.overview-time-breakdown-card-chart {
  position: absolute;
  width: 100%;
  height: 300px;
  right: -10px;
  padding-bottom: 75px;
} 

.overview-time-breakdown-card-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%;

}

.goal-bar-chart-card {
  display: flex;
  flex-flow: column;
  padding: 5px 20px;
  position: relative;
}


.goal-bar-chart {
  position: absolute;
  height: 100%;
  width: 100%;
  padding: 10px;
}

.overview-time-breakdown-card-bottom button {
  height: 45px;
  width: 90%;
  display: flex;
  color: #fff;
  background-color: #5961F9;
  font-size: 18px;
  font-family: Montserrat, Arial, sans-serif;
  border: none;
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
  border-radius: 10px;
  cursor: pointer;
}




.blue-gradient {
  background-image: linear-gradient( 135deg, #ABDCFF 10%, #0396FF 100%);
}

.teal-gradient {
  background-image: linear-gradient( 135deg, #2AFADF 10%, #4C83FF 100%);
}

.pink-gradient {
  background-image: linear-gradient( 135deg, #FFD3A5 10%, #FD6585 100%);
}

.purple-gradient {
  background-image: linear-gradient( 135deg, #EE9AE5 10%, #5961F9 100%);
}

/*NEXT SHOULD BE 1100px*/
@media (max-width: 1450px) {
  .overview-welcome-container, 
  .overview-user-info-container  {
    flex-basis: 50%;
    max-width: 50%;
  }
  .overview-container-2 {
    flex-basis: 100%;
    max-width: 100%;
  }
  .overview-container-3 { display: none !important; } 
  .overview-container-2 { height: 50%; }
  .square { 
    min-height: calc(100% - 3rem);
    height: -webkit-fill-available;
    margin-top: 1.5rem;
  }
  .overview-container-4 {
    display: flex;
    flex-basis: 100%;
    -webkit-box-flex: 0;
    flex-grow: 0;
    max-width: 100%;
    height: 375px;
  }

  .overview-welcome-box b {
    font-size: 20px;
  }

  .overview-welcome-box p {
    font-size: 13px;
  }
  .overview-time-breakdown-card-chart {
    padding-bottom: 75px;
  }

  
}

/*=================================================================*/
/*=================================================================*/


.activity-statistics-container {
  flex-basis: 66.6667%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 66.6667%;
}

.activity-log-container-height{ height: 700px ;}
.activity-log-container {
  flex-basis: 33.3333%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 33.3333%;
}

.activity-statistics-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-flow: row wrap;
  margin-left: -1.5rem;
  flex: 1 1;
}


.activity-container-1 {
  flex-basis: 50%;
  -webkit-box-flex: 0;
  flex-grow: 0;
  max-width: 50%;
}

.activity-container-2 {
  height: 350px;
}


.groopfit-container-footer-short {
  width: 100%;
  height: 30px;
  display: flex;
  background-color: #191919;
  border-radius: 0px 0px 10px 10px;
  box-shadow: rgb(0 0 0) 0px 0px 8px 1px;
}

@media (max-width: 1450px) {
  .activity-log-container, 
  .activity-statistics-container {
    flex-basis: 50%;
    max-width: 50%;
  }

  .activity-container-1 {
    flex-basis: 100%;
    max-width: 100%;
  }

  .show-big-screen { display: none; }
  .show-med-screen { display: initial; }

}