body{
background-color:  #191919;
}
.container{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.content{
  align-items: center;
  width: 400px;
}
.progressbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.progressbar::before{
  content:'';
  position:absolute;;
  background-color: white;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  height: 4px;
  width:100%;
  z-index: -1;
  transform: 0.4s ease;
}
.progress{
  position:absolute;;
  background-color: #3498db;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 5px;
  height: 4px;
  width:50%;
  z-index: -1;
  transform: 0.4s ease;
  /* color: #191919; */
}

.circle{
  background-color: #fff;
  color: rgb(0, 0, 0);
  border-radius: 50%;
  height:45px;
  width: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #ffffff;
  transition: 0.4s ease;
  font-size: larger;
  font-weight: 500;
  padding: 2px;
  box-shadow: 0 0 0 4px #000000 inset;
}
.circle.active{
  border-color: #3498db;
}
.button{
  display: flex;
  justify-content: space-between  ;
  align-items: center;
  margin-top: 20px;
}

.btn{
  padding: 5px 20px;
  font-weight:bold;
  font-size: 18px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 5%;
  box-shadow: rgb(0 0 0) 0px 0px 8px 2px;
}

.btn:active{
  transform: scale(0.98);
}

.btn:focus{
  outline:none
}

.btn:disabled{
  background-color: #999;
  cursor: not-allowed;
}

.content{
  /* padding: 2%; */
  margin: 5%;
}

.header{
  text-align: center;
  color:white;
  font-size: 30px;
  font-weight: 600;
  margin-top: 3%;
  
}

.FormContent{
  height: 400px;
  width: 400px;
  padding: 2%;
  margin: 10% 0;
  border-radius: 5px;
  box-shadow: rgb(0 0 0) 0px 0px 8px 2px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}
.PageContainer{
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  
}

.PageContainer input{
  border-radius: 5px;
  padding: 9px;
}

.hidden{
  display: none;
}

/* label{
  color:white;
  padding:0;
}
.formLine{
  display: flex;
  gap: 10px;
} */
